input, button {
	font: inherit;
	text-shadow: inherit;
}

button {
	padding: .1em .5em;
	border-radius: .3em;
	background: hsl(80, 80%, 80%);
	background: linear-gradient(hsl(40, 70%, 80%), hsl(40, 70%, 70%));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 1px white inset, 0 .3em .3em -.3em rgba(0,0,0,.3);
}

input {
	width: 12em;
	padding: .1em .3em;
	border: 0;
	border: 1px solid hsl(35, 80%, 60%);
	background: hsla(0,0%,100%,.2);
	border-radius: .3em;
	box-shadow: .05em .1em .3em rgba(0,0,0,.3) inset;
}

input:focus {
	outline: none;
	border: 1px solid #58a;
	animation: pulsate 2s infinite alternate linear;
	background: hsla(0,0%,100%,.5);
}

#combobox .dropdown-input {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#combobox .dropdown-btn {
	vertical-align: top;
	height: 36.5px;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#combobox .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

input:focus {
	outline: none;
	border: 1px solid #58a;
	animation: pulsate 2s infinite alternate linear;
	background: hsla(0,0%,100%,.5);
}